/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav, .subnav {
    list-style: none;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    font-size: 20px;
    color: #fff;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 0 0 5px #000;
}

#slider .text-heading {
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.6;
}

#content .members {
    margin-top: 48px;
    /* overflow: hidden; ==> giống clear */
}

#content .member-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    font-style: italic;
}

#content .member-img {
    margin-top: 15px;
    width: 150px;
    border-radius: 12px;
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;
    background-color: #fff;
    list-style: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 8px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.tickets-list .quantity-soldout {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.places-list {
    margin: 32px -8px 24px;
}

.place-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    display: block;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.5;
}

.place-infor {
    background-color: #fff;
    font-size: 15px;
}

.place-infor h3,
.place-infor p {
    padding: 24px 16px 0;
}

.place-buy-btn {
    border: none;
    padding: 16px 20px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 16px;
}

.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.6;
}

.contact-info i[class*="ti-"] {
    width: 32px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    margin-top: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 16px 20px;
    float: right;
}

.form-submit-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.socials-list {
    font-size: 24px;
}

.socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.socials-list a:hover {
    opacity: 0.6;
}

.copyright {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
}

.copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 64px);
    min-height: 100px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    color: #fff;
    font-size: 32px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-header-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    font-size: 24px;
    color: #fff;
    padding: 16px;
    opacity: 0.6;
}

.modal-close:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 16px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.modal-pay-btn {
    border: none;
    background-color: #009688;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px;
}

.modal-pay-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    opacity: 0.6;
}

.modal-footer {
    text-align: right;
    padding: 16px;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}